.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

input {
  font-size: 20px;
  margin-top: 1em;
}

.Todo-App {
  display: inline-block;
  text-align: left;
}

.Todo-List ul {
  list-style: none;
  padding: 0;
}

.error {
  display: block;
  margin-top: 1em;
  color: darkred;
}

li span.delete-item {
  visibility: hidden;
}

span.delete-item a {
  text-decoration: none;
  color: red;
}

li:hover span.delete-item {
  visibility: visible;
}

.footer a {
  padding: 2px 0;
}

.footer a.active {
  font-weight: bold;
}